body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

footer,
p {
  text-align: center;
  margin-bottom: 30px;
}

#episodes-container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 0;
  padding-top: 0;
}

.episode-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-card img {
  width: 80%;
  border-radius: 4px;
  align-items: center;
}

.episode-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 0;
  background-color: #fff;
}

.episode-header {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 12px;
  margin: 0 0 20px;
  background-color: #f7f7f7;
}

.episode-header h2 {
  font-size: 16px;
  text-align: center;
}

#displayNumOfEpisodes {
  display: inline-flex;
  margin: 10px;
}
